<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCAD.NET" version="24.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="AutoCAD.NET.Core" version="24.3.0" targetFramework="net48" />
  <package id="AutoCAD.NET.Model" version="24.3.0" targetFramework="net48" />
  <package id="CavalierContoursSharp" version="0.6.1-preview" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="8.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
</packages>